<!-- Navbar Start -->
<nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
    <a href="index.html" class="navbar-brand d-block d-lg-none">
        <h1 class="font-secondary text-white mb-n2">Jack <span class="text-primary">&</span> Rose</h1>
    </a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav ml-auto py-0">
            <a href="{% url 'home' %}" class="nav-item nav-link {% if request.path == '/matrimony/' %} active {% endif %}">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link {% if request.path == '/matrimony/about/' %} active {% endif %}">About</a>
            <a href="{% url 'story' %}" class="nav-item nav-link{% if request.path == '/matrimony/story/' %} active {% endif %}">Story</a>
            <a href="{% url 'gallery' %}" class="nav-item nav-link{% if request.path == '/matrimony/gallery/' %} active {% endif %}">Gallery</a>
        </div>

        <a href="index.html" class="navbar-brand mx-5 d-none d-lg-block">
            <h1 class="font-secondary text-white mb-n2">Jack <span class="text-primary">&</span> Rose</h1>
        </a>

        <div class="navbar-nav mr-auto py-0">
            <a href="{% url 'family' %}" class="nav-item nav-link{% if request.path == '/matrimony/family/' %} active {% endif %}">Family</a>
            <a href="{% url 'event' %}" class="nav-item nav-link{% if request.path == '/matrimony/event/' %} active {% endif %}">Event</a>
            <a href="{% url 'rsvp' %}" class="nav-item nav-link{% if request.path == '/matrimony/rsvp/' %} active {% endif %}">RSVP</a>
            <a href="#contact" class="nav-item nav-link">Contact</a>
        </div>
        <div class="navbar-nav py-0 align-content-end">
            <div class="d-flex flex-column align-items-center">
                <i class="far fa-user-circle fa-2x m-0 p-0"></i>
                <p class="nav-item nav-link m-0 p-0">{{request.user}}</p>
                <a class="nav-item nav-link m-0 p-0 text-white small" href="{% url 'logout' %}">logout</a>
            </div>
        </div>

    </div>
</nav>
<!-- Navbar End -->